{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Company Portal</div>
        <div class="masthead-heading text-uppercase">Job Listings</div>
    </div>
</header>

<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="b strong">Display Job Listings</h2>
                <p class="b strong">
                    Below is the list of job listings, with your new addition
                </p>
                {% for job in job_listings %}
                    <p class="b strong">
                        Job Title: {{ job.job_title }} <br>
                        City: {{ job.city }} <br>
                        Organization: {{ job.organization }} <br>
                        Contracts: {{ job.contracts }} <br>
                        Description: {{ job.description }} <br><br>
                    </p>  
                {% endfor %} 


            </div>
        </div>
    </div>
</section>

{% endblock %}   