{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Search Job Listing to Remove</div>
    </div>
</header>

<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="b strong">Remove Job Listing</h2>
                <p class="b strong">
                    Search for a Job to Remove
                </p>

                <form name="form" method="get" action="{% url 'resultjob' %}">
                <label class="b strong" for='job_title'>Enter Job Title:</label>
                <input type="text" name='job_title' id='job_title'>
                <br><br>
                <label class="b strong" for='city'>Enter City:</label>
                <input type="text" name='city' id='city'>
                <br><br>
                <button type="submit">Delete Listing</button>
                <br><br>

            </div>
        </div>
    </div>
</section>

{% endblock %}   