{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Recommend Jobs</div>
    </div>
</header>

<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="b strong">Job Recommendation Page</h2>
                <p class="b strong">
                    Input User ID and Company ID to recive recommended jobs to apply for
                </p>

                <form name="form" method="get" action="{% url 'azure' %}">      
                <label class="b strong" for='user_id'>Enter UserID:</label>
                <input type="text" name='user_id' id='user_id'>
                <br><br>
                <label class="b strong" for='company_id'>Enter CompanyID:</label>
                <input type="text" name='company_id' id='company_id'>
                <br><br>
                <button type="submit">Search</button>
                <br><br>
                {{loop}}

            </div>
        </div>
    </div>
</section>

{% endblock %}